/* @override http://amadain.net/themes/zenGarden/nav.css */

/*  Block User Navigation */
#sidebar1 #block-user-1 h3 { display: none; }

#sidebar1 #block-user-1 { 
	width: 200px;
}

#sidebar1 .block-user .menu
{
	background: none;
	margin-bottom: 0.5em;
}

#sidebar1 .block-user .menu, .block-user  ul.menu
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar1 .block-user  ul.menu
{
	/*border-left: 1px solid #D0D9D9;
	border-bottom: 1px solid #D0D9D9;*/
	padding: 0.3em 0;
}

#sidebar1 .block-user  ul.menu ul.menu
{
	border-left: 1px solid #D0D9D9;
	border-bottom: 1px solid #D0D9D9;
}

#sidebar1 .block-user  ul.menu li
{
	display: block;
	/* need for IE spacing issue */
	padding: 0.3em 0 0.3em 10px;
	margin: 0;
	list-style-type: none;
	list-style-image: none;
	line-height: 1em;
}

#sidebar1 .block-user .menu li.expanded { background: url(images/icons_expanded.png) 0px 4px no-repeat; }
#sidebar1 .block-user .menu li.leaf { background: url(images/icons_leaf.png) 0px 4px no-repeat; }
#sidebar1 .block-user .menu li.collapsed { background: url(images/icons_collapsed.png) 0px 4px no-repeat; }
#sidebar1 .block-user .menu li.expanded:hover { background-position: -200px 4px; }
#sidebar1 .block-user .menu li.leaf:hover { background-position: -200px 4px; }
#sidebar1 .block-user .menu li.collapsed:hover { background-position: -200px 4px; }

#sidebar1 .block-user .menu li a
{
	font-weight: normal;
	display: block;
	padding: 0;
	padding-left: 10px;
	margin: 0;
	text-decoration: none;
}

#sidebar1 .block-user .menu li a.active { font-weight: normal; }
#sidebar1 .block-user .menu li:hover 
{
	border: none;
}
#sidebar1 .block-user .menu li a:hover { 
	text-decoration: underline; 
	background-color: transparent;
}

#sidebar1 .block-user .menu li a:link
{
	text-decoration: none;
}

#sidebar1 .block-user .menu li a:link:hover
{
	text-decoration: underline;
}
