/*  

Theme Name: Dark
Theme URI: http://www.ilemoned.com/wordpress/wptheme-dark/

Description: Designed by <a href="http://www.bartelme.at">Bartelme Wolfgang</a>.

Version: 1.01

Author: LEMONed
Author URI: http://www.ilemoned.com
*/

@import url(nav.css);

/* @group Basics */

body {
	margin: 0pt;
	padding: 0pt;
	background: #001342 url(images/bg.gif) repeat-y 0pt 0pt;
	font-size: 160%;
	font-family: "Lucida Grande", Verdana, Arial, Sans-Serif;
	color: #5b9cff;
}

p, ul, ol {
	line-height: 21px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 20px 0pt;
	padding: 0pt;
	font-family: "Trebuchet MS", "Lucida Grande", Verdana, Sans-Serif;
	color: #fff;
}

h1 {
	font-size: 160%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 140%;
}

h4 {
	font-size: 130%;
}

h5 {
	font-size: 120%;
}

h6 {
	font-size: 110%;
}

a:link,
a:visited {
	color: #cce0ff;
	text-decoration: none;
}

a:hover,
a:active {
	color: #cce0ff;
	text-decoration: underline;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	clear: both;
	margin: 0pt auto;
}

.alignleft {
	float: left;
	margin: 0pt 10px 0pt 0pt;
}

.alignright {
	float: right;
	margin: 0pt 0pt 0pt 10px;
}

.clear {
	clear: both;
}

.alert {
	font-weight: bold;
	color: #fff;
}

textarea,
input {
	border: 1px solid #051236;
	background: #fdfdff url(images/input_bg.gif) repeat-x 0pt 0pt;
	color: #000;
}

textarea:focus,
input:focus {
	border: 1px solid #ffc000;
}

label {
	display: block;
	font-size: 110%;
	font-weight: bold;
}

blockquote {
	background: #071c50 url(images/blockquote.gif) no-repeat 16px 8px;
	border: 1px solid #00103a;
	margin: 0pt;
	padding: 0pt 25px 0pt 64px;
	color: #2f59a4;
}

code {
	font-family: Monaco,Courier,"Courier New",monospace;
	background: #071c50 url(images/bg_code.gif) repeat 0pt 0pt;
	padding: 0pt 25px 0pt 64px;
	color: #2f59a4;
	display: block;
	line-height: 20px;
	padding-left: 30px;
	text-align: left;
	overflow: auto;
    white-space: pre;
}
code br { display: none; }

/* @end */

/* @group Wrapper */

#wrapper {
	float: left;
	width: 100%;
	min-width: 1000px;
	height: 100%;
	overflow: hidden;
	font-size: 12px;
}

/* @end */

/* @group Header */

#header {
	width: auto;
	height: 220px;
	margin: 0pt 0pt 0pt 150px;
	padding: 0pt;
	background: #4376c9 url(images/header.gif) repeat-x 0pt 0pt;
	border-bottom: 6px solid #b1e100;
	position: relative;
}

/* @group Search */

#header .search {
	position: absolute;
	top: 13px;
	right: 0pt;
}

#header .search p {
	margin: 0pt;
}

input#s {
	width: 255px;
	height: 18px;
	line-height: 100%;
	margin: 0pt 32px 0pt 0pt;
	padding: 2px 2px 0pt;
}

/* @end */

/* @group Navmenu */

#header ul.navmenu {
	margin: 0pt;
	padding: 0pt;
	list-style-type: none;
}

#header ul.navmenu li {
	float: left;
	margin: 0pt 0pt 0pt 25px;
}

#header ul.navmenu li a {
	float: left;
	line-height: 38px;
	border-top: 5px solid #4a7fd1;
	color: #5b9cff;
}

#header ul.navmenu li a:hover {
	text-decoration: none;
	border-top: 5px solid #75a5f0;
	color: #fff
}

#header ul.navmenu li.current_page_item a {
	border-top: 5px solid #b1e100;
	color: #fff;
}

#header ul.navmenu li.current_page_item a:hover {
	border-top: 5px solid #b1e100;
	text-decoration: none;
}

#header ul.navmenu li.menu-1-1-3-active a {
	border-top: 5px solid #b1e100;
	color: #fff;
}

#header ul.navmenu li.menu-1-1-3-active a:hover {
	border-top: 5px solid #b1e100;
	text-decoration: none;
}

#header ul.navmenu li.menu-1-2-3-active a {
	border-top: 5px solid #b1e100;
	color: #fff;
}

#header ul.navmenu li.menu-1-2-3-active a:hover {
	border-top: 5px solid #b1e100;
	text-decoration: none;
}

#header ul.navmenu li.menu-1-3-3-active a {
	border-top: 5px solid #b1e100;
	color: #fff;
}

#header ul.navmenu li.menu-1-3-3-active a:hover {
	border-top: 5px solid #b1e100;
	text-decoration: none;
}

#header ul.navmenu li.menu-1-4-3-active a {
	border-top: 5px solid #b1e100;
	color: #fff;
}

#header ul.navmenu li.menu-1-4-3-active a:hover {
	border-top: 5px solid #b1e100;
	text-decoration: none;
}

#header ul.navmenu li.menu-1-5-3-active a {
	border-top: 5px solid #b1e100;
	color: #fff;
}

#header ul.navmenu li.menu-1-5-3-active a:hover {
	border-top: 5px solid #b1e100;
	text-decoration: none;
}

#header ul.navmenu li.menu-1-6-3-active a {
	border-top: 5px solid #b1e100;
	color: #fff;
}

#header ul.navmenu li.menu-1-6-3-active a:hover {
	border-top: 5px solid #b1e100;
	text-decoration: none;
}

#header ul.navmenu li.active a {
	border-top: 5px solid #b1e100;
	color: #fff;
}

#header ul.navmenu li.active a:hover {
	border-top: 5px solid #b1e100;
	text-decoration: none;
}

/* @end */

#header h1,

#header img.logo {
	position: absolute;
	left: 40px;
	top: 90px;
	border: none;
}

#header h1 {
	font-size: 200%;
	background: transparent url(logo.png) no-repeat 0pt 0pt;
	display: block;
	height: 172px;
	overflow: hidden;
	width: 745px;
	vertical-align: middle;
}

#header h1 a {
	line-height: 250px;
	/* To hide the site name completely (if incorporated in the logo) */
	/* line-height: 1000px; */
	margin-left: 200px;
}

#header h1,
#header img.logo {
	position: absolute;
	left: 0pt;
	top: 28px;
	border: none;
}

/* @end */

/* @group Content */

#content {
	float: left;
	width: 60%;
	min-width: 600px;
	height: 100%;
	overflow: hidden;
}

.post {
	clear: both;
}

.feed-item-meta {
	margin-left: -175px;
}
.feed-item-meta,
.post-meta {
	float: left;
	width: 150px;
	height: 100%;
	background: transparent url(images/separator_meta.gif) no-repeat left top;
}

.feed-item-meta a:link,.post-meta a:link,
.feed-item-meta a:visited, .post-meta a:visited,
.feed-item-meta a:hover, .post-meta a:hover,
.feed-item-meta a:active, .post-meta a:active {
	color: #fff;
}

.feed-item-source {
	display: block;
	background: transparent url(images/indicator_date.gif) no-repeat right center;
	padding: 0pt 15px;
	margin: 15px 0pt 0pt 0pt;
	font-weight: bold;
}

.feed-item-source a:link,
.feed-item-source a:visited,
.feed-item-source a:hover,
.feed-item-source a:active {
	color: #fff;
}

.feed-item-date, .cmt-date, .post-date {
	display: block;
	margin: 5px 0pt 0pt 0pt;
	padding: 0pt 0pt 0pt 15px;
	background: transparent url(images/indicator_date.gif) no-repeat right 2px;
	color: #001342;
}

.post-cmts {
	display: block;
	padding: 8px 15px 0pt;
}

p.post-tags,
ul.links,
ul.post-tags {
	margin: 5px 0pt;
	padding: 0pt 15px;
	list-style-type: none;
}

p.post-tags a,
ul.links li,
ul.post-tags li {
	background: transparent url(images/icon_tag.gif) no-repeat left 0.5em;
	padding: 0pt 0pt 0pt 20px;
	display: block;
}

ul.links.inline {
	display: block;
}

ul.post-tags li a:link,
ul.links li a:link,
ul.post-tags li a:visited,
ul.links li a:visited,
ul.post-tags li a:hover,
ul.links li a:hover,
ul.post-tags li a:active,
ul.links li a:active,
p.post-tags a:link,
p.post-tags a:visited,
p.post-tags a:hover,
p.post-tags a:active {
	color: #6fa2e5;
}

#content li a.active {
	color: #CCE0FF;
}

.post-edit {
	padding: 0pt 15px;
}

.box, .post-main {
	margin: 0pt;
	padding-left: 175px;
}
.post-main .node {
	clear: none;
}

.box .post-meta,
.post-main .post-meta {
	margin-left: -175px;
}
#comments .box,
.box .post-main,
.post-main .box,
.post-main .post-main {
	padding-left: 0pt;
}

#comments .indented {
  margin-left: 0pt;
}

.post-title {
	margin: 0pt;
	padding: 20px 25px 0pt 0pt;
	background: transparent url(images/separator_title.gif) no-repeat left top;
	color: #fff;
}

.post-title a:link,
.post-title a:visited,
.post-title a:hover,
.post-title a:active {
	color: #fff;
}

.post-entry {
	padding: 0pt;
	text-align: justify;
}

.post-entry a {
	color: #cce0ff;
	background: #071c50;
	border: 1px solid #00103a;
	padding: 1px 4px;
}

.post-entry a:hover,
.post-entry a:active {
	text-decoration: none;
	color: #fff;
	background: #0f2b6f;
}

.post-entry img, .content .image, #content .image {
	border: 5px solid #000d32;
}

.post-entry img.wp-smiley {
	border: none;
}

.pagenavi,
.pages {
	margin: 0pt 0pt 0pt 150px;
	padding: 25px;
	line-height: 220%;
	font-size: 90%;
}

.pagenavi span,
.pagenavi a {
	border: 1px solid #00103a;
	background: #071c50;
	padding: 3px 10px;
}

.pagenavi a:hover {
	background: #0f2b6f;
	text-decoration: none;
	color: #fff;
}

.pages {
	margin: 0pt 0pt 25px 150px;
}

.pages .older {
	float: left;
}

.pages .newer {
	float: right;
}

.pages .older a,
.pages .newer a {
	border: 1px solid #00103a;
	background: #071c50;
	padding: 3px 10px;
}

.pages .older a:hover,
.pages .newer a:hover {
	background: #0f2b6f;
	text-decoration: none;
	color: #fff;
}

.preview .node {
	background-color: #020A20;
}

/* @end */

/* @group Sidebar */

#sidebar {
	float: left;
	width: 40%;
	min-width: 400px;
	height: 100%;
	padding: 0pt 0pt 30px 0pt;
}

#sidebar h2 {
	margin: 20px 0pt 10px;
}

#sidebar ul,
#sidebar ol {
	margin: auto 0pt;
	padding: 0pt;
	list-style-type: none;
}

/* Left Sidebar */

#sidebar1 {
	float: left;
	width: 60%;
	height: 100%;
	overflow: hidden;
}

#sidebar1 .sb1 {
	width: 80%;
	margin: 0pt auto;
}

#sidebar1 .sb1 a {
	color: #fff;
}

#sidebar1 .sb1 .rssfeeds {
	width: 100%;
	height: 144px;
	background: #5a93e7 url(images/rss_bg.gif) repeat-x 0pt 0pt;
	color: #001342;
	position: relative;
}

img.rss-logo {
	position: absolute;
	top: 0pt;
	right: 0pt;
	border: none;
	padding: 0pt;
}

p.rss-entries {
	position: absolute;
	top: 20px;
	left: 20px;
	background: transparent url(images/rss.gif) no-repeat left center;
	padding: 0pt 0pt 0pt 48px;
	margin: 0pt;
}

p.rss-comments {
	position: absolute;
	top: 80px;
	left: 20px;
	background: transparent url(images/rss.gif) no-repeat left center;
	padding: 0pt 0pt 0pt 48px;
	margin: 0pt;
}

p.rss-entries a,
p.rss-comments a {
	font-weight: bold;
}

li.recent-cmts {
	clear: both;
	padding: 15px 3%;
	background: transparent url(images/separator_rct-cmt.gif) repeat-x left bottom;
	line-height: 140%;
}

li.recent-cmts:hover {
	background: #00103a url(images/separator_rct-cmt.gif) repeat-x left bottom;
}

/* Right Sidebar */

#sidebar2 {
	float: left;
	width: 40%;
	height: 100%;
	overflow: hidden;
}

#sidebar2 .sb2 {
	margin: 0pt 20px 0pt 0pt;
}

#sidebar2 .sb2 a {
	color: #5b9cff;
}

#sidebar2 .sb2 ul ul li {
	background: transparent url(images/icon_list.gif) no-repeat 0pt 6px;
	padding: 0pt 0pt 0pt 20px;
}

/* @end */

/* @group Comments */

#comments {
	padding-left: 175px;
	margin-top: 1em;
}
#comments .post-meta,
#comments .post-main {
	margin-left: -175px;
}

h2#comments,
h2#postcomment {
	color: #fff;
}

h2#comments span,
h2#postcomment span {
	color: #5b9cff;
}

h2#postcomment {
	padding: 20px 0pt 0pt 0pt !important;
	padding: 0pt;
}

#comments .comment-folded {
	margin-top: 1em;
}
#comments .comment-folded .subject {
	width: 75%;
	display: block;
	float: left;
	border-bottom: 1px dotted;
}
ol#commentlist {
	margin: 0pt;
	padding: 0pt;
	list-style-type: none;
}

ol#commentlist li {
	clear: both;
	width: 100%;
	float: left;
}

.even .node,
ol#commentlist li.alt {
	background: transparent url(images/separator_cmt.gif) repeat-y scroll -175px 50%;
}

.cmt-meta {
	float: left;
	width: 150px;
	padding: 20px 0pt;
	background: transparent url(images/separator_meta.gif) no-repeat 0pt 0pt;
}

.cmt-author {
	display: block;
	background: transparent url(images/indicator_date.gif) no-repeat right center;
	padding: 0pt 15px;
	margin: 15px 0pt 0pt 0pt;
	font-weight: bold;
}

.cmt-author a:link,
.cmt-author a:visited,
.cmt-author a:hover,
.cmt-author a:active {
	color: #fff;
}

.cmt-time {
	display: block;
	padding: 0pt 15px;
}

.cmt-main {
	margin: 0pt 0pt 0pt 150px;
	background: transparent url(images/separator_title.gif) no-repeat 0pt 0pt;
	position: relative;
}

img.cmt-gravatar {
	border: 1px solid #051236;
	background: #0b245b;
	padding: 3px;
	position: absolute;
	left: 22px;
	top: 22px;
}

.post-main .picture img {
	border: 1px solid #051236;
	background: #0b245b;
	padding: 3px;
	float: right;
}

.cmt-text {
	margin: 0pt 0pt 0pt 80px;
	padding: 8px 25px 8px 0pt;
}

.cmt-form {
	margin: 0pt 0pt 0pt 150px;
	padding: 0pt 0pt 0pt 25px;
	clear: both;
}

.cmt-form p {
	font-size: 90%;
}

.cmt-form p a {
	color: #cce0ff;
}

.cmt-info {
	background: #071c50 url(images/icon_info.gif) no-repeat 16px center;
	padding: 5px 0pt 5px 48px;
	border: 1px solid #00103a;
	color: #2f59a4;
}

.cmt-info a:hover {
	color: #fff;
	text-decoration: none;
}

input#author,
input#email,
input#url {
	width: 98% !important;
	width: 420px;
	height: 20px;
	padding: 2px 2px 0pt 2px;
}

textarea#comment {
	width: 98% !important;
	width: 420px;
	height: 220px;
	padding: 2px;
}

input#submit {
	width: auto;
	height: 24px;
	background: #071843 url(images/button.gif) repeat-x 0pt 0pt;
	border: 1px solid #051236;
	color: #fff;
}

input#submit:focus {
	border: 1px solid #ffc000;
}

/* @end */

/* @group Bottom */

#bottom {
	clear: both;
	margin: 0pt 0pt 0pt 150px;
}

#bottom h2 {
	padding: 0pt 5px;
}

#bottom ul {
	margin: 0pt;
	padding: 0pt;
	list-style-type: none;
}

#bottom ul li {
	line-height: 28px;
	border-bottom: 2px solid #010d34;
	list-style-type: none;
	margin: 0pt;
}

#bottom ul li a {
	display: block;
	width: auto !important;
	width: 100%;
	background: transparent url(images/icon_link.gif) no-repeat 9px 9px;
	padding: 0pt 28px;
	color: #69abfc;
}

#bottom ul li a:hover {
	text-decoration: none;
	background: #010716 url(images/icon_link.gif) no-repeat 9px 9px;
	color: #fff;
}

#bottom .bottom {
	float: left;
	width: 100%;
	height: 100%;
	margin: 0pt;
	padding: 25px;
	background: #020a20;
}

#block-node-0,
#block-user-3,
#bottom .bottom-left,
#bottom .bottom-mid {
	float: left;
	width: 25% !important;
	width: 20%;
	height: 100%;
	margin: 0pt 25px 0pt 0pt;
	background: #020a20;
}

#block-block-2,
#bottom .bottom-right {
	float: left;
	width: 150px;
	max-width: 300px;
}

.flickr {
	
}

.flickr img {
	display: block;
	border: 1px solid #adcbf0;
}

.flickr a {
	float: left;
	background: #081b43;
	padding: 4px;
	border: 1px solid #051236;
	margin: 5px;
}

.flickr a:hover {
	background: #0b245b;
}

/* @end */

/* @group Footer */

#footer {
	clear: both;
	width: 100%;
	height: 100%;
	margin: 0pt 0pt 0pt 150px;
	padding: 20px;
	background: #000;
}

#footer a {
	color: #fff;
}

#footer p {
	margin: 0pt;
	line-height: 180%;
	color: #fff;
}

#footer p a.w3c {
	background: transparent url(images/icon_valid.gif) no-repeat left center;
	padding: 0pt 0pt 0pt 20px;
	margin: 0pt 10px 0pt 0pt;
	color: #538ee8;
}

#footer p a.credit {
	background: transparent url(images/icon_copy.gif) no-repeat left center;
	padding: 0pt 0pt 0pt 20px;
	margin: 0pt 10px 0pt 0pt;
	color: #538ee8;
}

/* @end */

/* @group Archives */

#archives {
	width: 100%;
}

#archives ul {
	margin: 0pt 0pt 25px 0pt;
	padding: 0pt;
	list-style-type: none;
	width: 100%;
	border-top: 1px solid #000a2a;
	border-bottom: 1px solid #001e52;
}

#archives ul li {
	border-top: 1px solid #001e52;
	border-bottom: 1px solid #000a2a;
	line-height: 250%;
}

#archives ul li a {
	display: block;
	width: 100%;
	background: transparent url(images/icon_link.gif) no-repeat 10px center;
	padding: 0pt 0pt 0pt 30px;
	color: #5188db;
	border: none;
}

#archives ul li a:hover {
	background: #051236 url(images/icon_link.gif) no-repeat 10px center;
	text-decoration: none;
	color: #fff;
}

/* @end */

/* @group Links */

#links {
	width: 100%;
	margin: 0pt 0pt 25px 0pt;
}

#links ul {
	margin: 0pt;
	padding: 0pt;
	list-style-type: none;
}

#links ul ul li {
	float: left;
	line-height: 250%;
	width: 24%;
	margin: 0pt 1% 1% 0pt;
}

#links ul ul li a {
	border: 1px solid #00103a;
	background: #071c50;
	padding: 2px;
	display: block;
	text-align: center;
	color: #5188db;
}

#links ul ul li a:hover {
	text-decoration: none;
	background: #0f2b6f;
	color: #fff;
}

#links ul ul li > a[rel="friend"]:hover {
	font-weight: bold;
}

/* @end */

/* @group Tabs */

#tabs-wrapper ul.tabs.primary a {
	color: #aaa;
}

#tabs-wrapper ul.tabs.primary a.active {
	color: #222;
}

#tabs-wrapper ul.tabs.primary a {
	background: transparent url(images/separator_cmt.gif) repeat-y scroll 0% 50%;
}
#tabs-wrapper ul.tabs.primary a.active {
	background-color: #ffffff;
}

/* @end */

/* @group Tables */

#content table {
	width: 97%;
}

#content table tr.even, #content table tr.odd {
	background-color: transparent;
	border-bottom:1px solid #00103a;
	vertical-align: top;
}
#content table tr.even {
	background: transparent url(images/separator_cmt.gif) repeat-y scroll -175px 50%;
}
#content table td.menu-disabled {
	background-color: #020A20;
}

#content table tr.watchdog-error td.active {
	background-color: #EEB9B9;
}
#content table tr td.active {
	background-color: transparent;
}

div.error, tr.error {
	background: none;
	color: #FFDDDD;
}
div.ok, tr.ok {
	color:#5B9CFF;
}
div.warning, tr.warning {
	color:#CCE0FF;
}

.update-status tr.error .version-recommended {
	background: none;
}
#content table tr td.container .forum_depth0{
	font-size: 160%;
}
#content table tr td.container .forum_depth1{
	font-size: 140%;
}
#content table tr td.container .forum_depth2{
	font-size: 120%;
}

table.system-status-report td {
	border-bottom:1px solid #CCCCCC;
}

/* @end */

/* @group Pager */

.pager {
	margin: 1em auto 1em 175px;
}
.post-main .pager {
	margin: 1em auto 1em 0pt;
	padding-top: 4px;
}
.pager_button {
  background: transparent url(images/pager.jpg) no-repeat scroll 100% 0%;
  margin: 0.5em;
  padding: 1px 5px 5px 0pt;
}
html>body .pager_button {
  padding-top: 6px;
}

.pager_button .pager-ellipsis,
.pager_button .pager-current,
.pager_button a {
  background: transparent url(images/pager.jpg) no-repeat scroll 0%;
  padding: 5px 4px 5px 10px;
}

.item-list ul.pager li {
  margin-left: 0.25em;
}

/* @end */